@model blog_app.Models.Views.EditBlogPostRequest
@{
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit blog post</h1>
    </div>
</div>

<div class="container" py-5>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Heading</label>
            <input type="text" class="form-control" id="heading" asp-for="Heading"  value=@Model.Heading/>
        </div>
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="title" asp-for="PageTitle" value=@Model.PageTitle/>
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea class="form-control" id="content" asp-for="Content" value=@Model.Content></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" class="form-control" id="description" asp-for="ShortDescription" value=@Model.ShortDescription/>
        </div>
        <div class="mb-3">
            <label class="form-label">Image</label>
            <input type="file" class="form-control" id="featureImageFile" asp-for="FeatureImageFile"/>
            <img id="previewImage" src="#" alt="Selected Photo" style="display: none;" />
        </div>
        <div class="mb-3">
            <label class="form-label">URL Handle</label>
            <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" value=@Model.UrlHandle/>
        </div>
        <div class="mb-3">
            <label class="form-label">Date</label>
            <input type="date" class="form-control" id="publishDate" asp-for="PublishDate" value=@Model.PublishDate/>
        </div>
        <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" class="form-control" id="author" asp-for="Author" value=@Model.Author/>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="visible" id="visible" asp-for="Visible" value=@Model.Visible>
            <label class="form-check-label">
                Visible
            </label>
        </div>

        <div class="mb-3">
            <label class="form-label">Tags</label>
            <select class="form-select" asp-for="SelectedTagIDs" asp-items=@Model.Tags>
            </select>
        </div>


        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </form>
</div>


@section Scripts {
    <script>
        var editor = new FroalaEditor('#content');
    </script>
}